


*, ::after, ::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.team{
  width: 400px;
  position: relative;
  overflow: hidden;
  margin:20px auto;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 20px;
}

.container .img-container img{
  height: 300px;
  width: 100%;
  margin: auto;
  object-fit: contain;
}
.container .img-container h3{
  text-align: center;
  font-size:35px;
  margin-bottom: 15px;
  text-decoration: underline rgb(173, 146, 248);
  
}

.container .text-container{
  padding: 20px 0;
}

.container .text-container .team-details p,h4{
  padding: 5px 0;
}

.container .text-container .team-details h4{
  color: #5c996b;
  font-size: 32px;
}

.container .text-container .button-container{
  background-color: #e2e6e3;
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 30%;
  top: 60%;
  right: 0;
  padding: 10px 10px;
}

.container .text-container .button-container button{
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.container .text-container .team-details .button-container button:hover{
  background-color: white;
  color: black;
}